#Ignoramos la carpeta de mi entorno virtual
env/

#Ignoramos variables de entorno
.env

#Ignoramos cualquier archivo cache o de configuracion
__pycache__/
*.pyc

#Ignoramos la carpeta pruebas
pruebas/